* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common-grey {
    color: #333333;
}
.common-yellow {
    color: #ffad5a;
}
.common-paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333333;
    margin: 1rem 0;
}
.common-btn {
    background-color: #ff5959;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.common-h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #13014d;
    margin: 1rem 0;
    text-align: center;
}

#header {
    width: 80%;
    margin: 0 auto;
}
#header #header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 20px 0;
}
#header #header-banner .banner-h1 {
    font-size: 4rem;
    color: #333333;
    border-left: 3px solid #ff0000;
    padding-left: 1rem;
}
#header #header-banner img {
    width: 80%;
}

#main {
    width: 80%;
    margin: 2rem auto;
}
#main #my-mission {
    margin: 6rem 0 4rem 0;
}
#main #my-mission #mission-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}
#main #mission-container #mission {
    background-color: #4f9da630;
}
#main #mission-container #vission {
    background-color: #ff595930;
}
#main #mission-container #goals {
    background-color: #fff4d6;
}
#main .mission-card {
    padding: 2rem;
    border-radius: 8px;
}
#main .mission-card img {
    width: 40%;
    height: auto;
}
#main .mission-card h4 {
    font-size: 1.8rem;
    margin: 0.2rem 0;
}
#main .mission-card p {
    text-align: justify;
}

#main #second-mission-container {
    margin: 4rem 0;
}
#main #second-mission-container .second-mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
#main .second-mission .second-mission-content h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#main #second-mission-container .second-mission img {
    width: 30%;
}

#main #app-container {
    margin: 4rem 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
#main #build-app .app-img-container {
    position: relative;
    width: 50%;
}
#main #build-app .app-content {
    width: 50%;
}
#main #build-app .app-img-container .app-img {
    width: 70%;
    height: auto;
    z-index: 5;
    position: relative;
}
#main #build-app .app-img-container .shape1 {
    width: 40%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#main #build-app .app-img-container .shape2 {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 25%;
    right: 30%;
    z-index: 2;
}
#main #build-app .app-img-container .shape3 {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#footer {
    background-color: #13011d;
    color: #ffffff;
    text-align: center;
}
#footer div {
    padding: 2rem 0;
}
#footer h1 {
    font-size: 2.5rem;
    margin-bottom: 0.4rem;
    font-family: cursive;
}

@media screen and (max-width: 640px) {
    #header #header-banner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    #main #my-mission #mission-container {
        flex-direction: column;
    }

    #main #second-mission-container .second-mission:last-child {
        flex-direction: column-reverse;
        align-items: center;
    }
    #main #second-mission-container .second-mission {
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }
    #main #second-mission-container .second-mission img {
        width: 80%;
    }

    #main #app-container {
        flex-direction: column;
        align-items: center;
    }
    #main #build-app .app-img-container {
        width: 100%;
        text-align: center;
    }
    #main #build-app .app-img-container .app-img {
        width: 80%;
    }
    #main #build-app .app-content{
        width: 100%;
    }
}
