*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common-grey{
    color: #333333;
}
.common-yellow{
    color: #FFAD5A;
}
.common-paragraph{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333333;
    margin: 1rem 0;
}
.common-btn{
    background-color: #FF5959;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.common-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #13105d;
    margin: 1rem 0;
    text-align: center;
}

#header{
    width: 80%;
    margin: 0 auto;
}
#header #header-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 20px 0;
}
#header #header-banner .banner-h1{
    font-size: 4rem;
    color: #333333;
    border-left: 3px solid #FF0000;
    padding-left: 1rem;
}
#header #header-banner img{
    width: 80%;
}


#main{
    width: 80%;
    margin: 2rem auto;
}
#main #my-mission{
    margin: 6rem 0 4rem 0;
}
#main #my-mission #mission-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}
#main #mission-container #mission{
    background-color: #4f9da630;
}
#main #mission-container #vission{
    background-color: #FF595930;
}
#main #mission-container #goals{
    background-color: #FFF4D6;
}
#main .mission-card{
    padding: 2rem;
    border-radius: 8px;
}
#main .mission-card img{
    width: 40%;
    height: auto;
}
#main .mission-card h4{
    font-size: 1.8rem;
    margin: .2rem 0;
}
#main .mission-card p{
    text-align: justify;
}